/* .container {
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    border: 2px solid darkblue;
    background-color: red;
    gap:4px;
    align-items: center;
    justify-content: center;
}

.child {
    border: 2px dotted darkgreen;
    background-color: yellowgreen;
    height: 27vh;
    width: 27vw;
}

.child2 {
    background-color: palevioletred;
    order: 3;
}

.child4 {
    background-color: palevioletred;
}

p:nth-child(2) {
    background-color: chartreuse;
}

div p:nth-of-type(2) {
    background-color: red;
} */





.boxes {
    border:2px solid black;
    background-color: darkred;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
}

.b1 {
    height: 10vh;
    width: 5vw;
    border: 1px solid darkgoldenrod;
    background-color: green;
}

.b2 {
    height: 10vh;
    width: 5vw;
    border: 1px solid darkgoldenrod;
    background-color: lavenderblush;
}

.b3 {
    height: 10vh;
    width: 5vw;
    border: 1px solid darkgoldenrod;
    background-color: mediumpurple;
}

.b4 {
    height: 10vh;
    width: 5vw;
    border: 1px solid darkgoldenrod;
    background-color: azure;
}

.boxclass {
    margin-top: 20px;
    margin-left: 20px;
}

.box1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: aqua;
    height: 400px;
    width: 300px;
    border:1.5px dotted black;
    /* grid-column-start: 1;
    grid-column-end: 3;              // For merging
    grid-row-start: 1;
    grid-row-end:2; */
    /* // For Overlapping use z-index */
}

.box2 {
    background-color: blue;
    height: 400px;
    width: 300px;
    border:1.5px dotted black;
}

.box3 {
    background-color: yellow;
    height: 400px;
    width: 300px;
    border:1.5px dotted black;
}

.box4 {
    background-color: greenyellow;
    height: 400px;
    width: 300px;
    border:1.5px dotted black;
    /* row -> (1,2)                      // Imagine grid as a Matrix 
    column -> (4,5) */
}