/* .container {
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    border: 2px solid darkblue;
    background-color: red;
    gap:4px;
    align-items: center;
    justify-content: center;
}

.child {
    border: 2px dotted darkgreen;
    background-color: yellowgreen;
    height: 27vh;
    width: 27vw;
}

.child2 {
    background-color: palevioletred;
    order: 3;
}

.child4 {
    background-color: palevioletred;
}

p:nth-child(2) {
    background-color: chartreuse;
}

div p:nth-of-type(2) {
    background-color: red;
} */

    /* row -> (1,2)                      // Imagine grid as a Matrix
    column -> (4,5) */


.container1 {
    height: 60vh;
    width: 50vh;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 25%;
    width: 40%;
    border: 2px solid black;
    margin: 1% auto;

}

h1 {
    font-size: 30;
    text-align: left;
}

.conatainers {
    display: flex;
    flex-wrap: wrap;
}

